.id1 {
    box-shadow: 10px 10px 8px #888888;
  }
          div {
              background-color: rgb(82, 86, 86);
              border-left: solid 30px;
              border-color: rgb(228, 228, 232);
              border-radius: 2%;
              padding-left: 10%;
              padding-top: 2%;
              padding-bottom: 2%;
            width: 600px;
            margin: 60px;
            margin-left: auto;
            margin-right: auto;
          }
          h1{
font-style: italic;
font-weight: lighter;

          }