


#id1 {
    box-shadow: 10px 10px 8px #888888;
  }
          #id1 {
              background-image: url(../asset/pngegg.png);
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              clip-path: polygon(30% 0%, 70% 0%, 100% 10%, 100% 89%, 70% 100%, 30% 100%, 0 100%, 0 0);
              margin-left: 10%;
              margin-right: 10%;
            border-left: solid 30px;
              border-color: rgb(228, 228, 232);
              border-radius: 2%;
              padding-left: 10%;
              padding-top: 2%;
              padding-bottom: 2%;
            /*width: 600px;
            margin: 60px; */
            height: 600px;
            /*margin-left: auto;
            margin-right: auto;*/
            border-style: solid;
            border-radius: 10px;
          }
          h1{
font-style: italic;
font-weight: lighter;

          }
          .btn1{
            border-style: solid;
        border-width: 5px;
        border-color: rgb(1, 15, 15);
        border-radius: 3px;
        box-shadow: 5px 5px 5px red;
        font-size: 24px;



          }
          #btn-parent{
            margin: 20px 250px;
            
        /*text-align: center;*/
        


          }
          .btn1:hover{
            background-color: aqua;
          }